@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #eae7c6;
}

:root {
  --primary-color: #345b63;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
